@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.animate__backInLeft{
    --animate-duration: 2s;
    --animate-delay: 2.5s;
    --animate-iteration-count: 4;
}